<footer class="site-footer">
  <div class="container">
    <div class="footer-social">
      <a href="{{ site.author.google_scholar }}" title="Google Scholar" aria-label="Google Scholar" target="_blank" rel="noopener"><i class="ai ai-google-scholar"></i></a>
      <a href="{{ site.author.github }}" title="GitHub" aria-label="GitHub" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
      <a href="{{ site.author.linkedin }}" title="LinkedIn" aria-label="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      <a href="{{ site.author.orcid }}" title="ORCID" aria-label="ORCID" target="_blank" rel="noopener"><i class="ai ai-orcid"></i></a>
      <a href="mailto:{{ site.author.email }}" title="Email" aria-label="Email"><i class="fas fa-envelope"></i></a>
    </div>
    <div>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</div>
  </div>
</footer>
